boto3==1.35.21
basicsr>=1.4.2
facexlib==0.3.0
lmdb==1.5.1
PyYAML==6.0.2
scipy==1.13.1
tb-nightly==2.12.0a20230126
tqdm==4.67.1
yapf==0.43.0
timm==0.4.12
transformers==4.17.0
fairscale==0.4.4
pycocoevalcap==1.2
torch==2.0.1
torchvision==0.15.2 
Pillow==10.4.0
fastapi[standard]
deepface==0.0.93
tensorflow==2.11.0
numpy==1.23.0
opencv-python==4.11.0.86
ultralytics==8.3.75
reportlab==4.4.0
pytz==2025.2
openai==1.82.0
dotenv==0.9.9
requests==2.32.3